<title>Sign Up</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body style="background-color: rgb(161, 161, 228);">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Fafdax</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="signup">
        <form id="signup" method='POST' style="padding: 100px 200px;">
            <h2>Sign Up</h2><br>
            {% csrf_token %}
            {% for field in form %}
                <p>
                {{ field.label_tag }}<br>
                <p class="inputan">{{ field }}</p>
                {% for error in field.errors %}
                    <p style="color: rgb(179, 0, 0)">{{ error }}</p>
                {% endfor %}
                </p>
            {% endfor %}
            <br>
            <input style="background-color: rgb(17, 17, 61); color: white; margin-left: 0px; padding: 8px 10px; font-size: 16px;" type="submit" value = "Sign up">
            <br><br>
            <p>Sudah punya akun? <a class="btn btn-danger" href="{% url 'webs9:s9li' %}">Langsung log in di sini</a></p>
        </form>    
    </div>
</body>
