<!DOCTYPE html>
<head>
    <title>Fafdax</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body style="background-color: rgb(161, 161, 228);">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Fafdax</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a class="nav-link"><img src="https://peopleshub.org/wp-content/uploads/2018/04/person-icon-white.png" style="width: 30px; height: 30px; vertical-align:bottom; margin-top: -14px; color: white;">Hello, {{ user.get_username }}</a>
                <a class="nav-link" href="{% url 'webs9:s9lo' %}"><img src="https://icon-library.com/images/logout-icon-png/logout-icon-png-3.jpg" style="width: 30px; height: 30px; vertical-align:bottom; margin-top: -14px; color: white;">Logout</a>
            {% else %}
                <a class="nav-link"><img src="https://peopleshub.org/wp-content/uploads/2018/04/person-icon-white.png" style="width: 30px; height: 30px; vertical-align:bottom; margin-top: -14px; color: white;">Hello, Guest</a>
                <a class="nav-link" href="{% url 'webs9:s9li' %}"><img src="https://icon-library.com/images/11a7acda9d.png" style="width: 30px; height: 30px; vertical-align:bottom; margin-top: -14px; color: white;">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>

    <div class="container" style="display: flex; align-items: center; justify-content: center; height: 400px;" >
        <div>
            {% if user.is_authenticated %}
                <h1>Selamat Datang, {{ user.get_username }} !</h1>
            {% else %}
                <h1>Selamat Datang, Guest !</h1>
            {% endif %}
        </div>
    </div>
</body>