<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></script>
        <style>
            .container {
                width: 500px;
                height: auto;
                margin: 0 auto;
            }

            .item {
                display: block;
                width: inherit;
                
                line-height: 40px;
                background: #555;
                border: 1px solid #000;
                cursor: pointer;
                color: #fff;
            }

            .item-data {
                display: none; 
                width: inherit;
                height: auto;
                border: 1px solid #ccc;
            }

            .active {
                background: #eee;
                color: #000;
            }

            .item-data div{
                margin: 30px;
            }

            input{
                background: red;
            }
        </style>
    <script>
        $(document).ready(function(e){
            $('.item').click(function (e){
                if($(this).next('.item-data').css('display') != 'block'){
                $('.active').slideUp('fast').removeClass('active');
                $(this).next('.item-data').addClass('active').slideDown('slow');
                
                } else {
                $('.active').slideUp('fast').removeClass('active');
                }
            });
            
            $('.up-button').click(function(){
            $(this).parents('.item').insertBefore($(this).parents('.item').prev());
            });

            $('.down-button').click(function(){
            $(this).parents('.item').insertAfter($(this).parents('.item').next());
            });                                
        });
    </script>
    </head>

    <body class="bg-primary">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Story 7</a>
        </nav>
        <div class="d-flex flex-md-row flex-column justify-content-between mt-4 mb-4">
            <div class='container'>
                <div class='item'>
                  <div>
                  Tentang Saya
                  <input type="button"value="^" class="up-button"/>  
                   <input type="button" value="v" class="down-button"/>
                  </div>
              
                </div>
                <div class='item-data'>
                  <div>Nama Saya Muhammad Daffa Yudhistira Dwipayana</div>
                </div>
                
              
                <div class='item'>
                      <div>
                        Hobi
                        <input type="button"value="^" class="up-button"/>  
                        <input type="button" value="v" class="down-button"/>
                      </div>
                    </div>
                  <div class='item-data'>
                    <div>Hobi saya main game dan membaca komik</div>
                </div>
              
                  
                  
                <div class='item'>
                    <div>
                      Prestasi
                      <input type="button"value="^" class="up-button"/>  
                      <input type="button" value="v" class="down-button"/>
                    </div>
                  </div>
                <div class='item-data'>
                  <div>Pernah mendapat nilai 100 pada UN IPA SD, dan juara 4 pada lomba sempoa</div>
              </div>
        </div>
        
    </body>

</html>
