<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
    {% block meta %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            div{
                text-align: center;
                font-size: 24;
                color: white;
            }
            h1{
                color: white;
                text-align: center;
            }
        </style>
    {% endblock meta %}

    {% block content %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Fafdax</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'main:aboutme' %}">About me</a>
                <a class="nav-item nav-link" href="{% url 'main:eduskill' %}">Educations and skills</a>
                <a class="nav-item nav-link" href="{% url 'main:contact' %}">Contacts</a>
                <a class="nav-item nav-link" href="{% url 'main:Story1' %}">Story 1</a>
              </div>
            </div>
          </nav>
    <img src="{% static 'img/Foto profil.jpg' %}" alt="My photo" width="400" height="350" style="vertical-align:middle;margin:40px 500px">
    <h1><i>Hello, my name is Daffa</i></h1>
    <div><b>I'm a newbie programmer and web developer</b><br><b>Nice to meet you!</b></div>
    {% endblock content %}
</html>