<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
    {% block meta %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock meta %}

    {% block content %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Fafdax</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'main:aboutme' %}">About me</a>
                <a class="nav-item nav-link" href="{% url 'main:eduskill' %}">Educations and skills</a>
                <a class="nav-item nav-link" href="{% url 'main:home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'main:Story1' %}">Story 1</a>
              </div>
            </div>
        </nav>
        
        <div class="contacts">
            <h2>You can contact me here:</h2>
            <br>
            <img src="{% static 'img/line logo.png' %}" class="rounded mx-auto d-block" alt="Line" width="50" height="50">
            <h3>Line: daffayudhis89</h3>
            <br>
            <img src="{% static 'img/email logo.jpg' %}" class="rounded mx-auto d-block" alt="E-mail" width="50" height="50">
            <h3>Email: daffayudhistira27@gmail.com</h3>
            <br>
            <img src="{% static 'img/phone logo.png' %}" class="rounded mx-auto d-block" alt="Phone" width="50" height="50">
            <h3>Phone: 085772746486</h3>
        </div>
    {% endblock content %}
</html>