<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
    {% block meta %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <style>
          h2{
            text-align: center;
            color: white;
          }
        </style>   
    {% endblock meta %}
     
    {% block content %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Fafdax</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'main:aboutme' %}">About me</a>
                <a class="nav-item nav-link" href="{% url 'main:home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'main:contact' %}">Contacts</a>
                <a class="nav-item nav-link" href="{% url 'main:Story1' %}">Story 1</a>
              </div>
            </div>
        </nav>
        <br>
        <h2>Here's some brief history about my educations:</h2>
        <div class="education">
            <p><b>SDI PB Soedirman</b></p> 
            <img src="{% static 'img/SDI PB Soedirman.jpg' %}" class="rounded mx-auto d-block" alt="SDI PB Soedirman" width="150" height="150">
            <br>
            <p><b>SMP Negeri 103 Jakarta</b></p> 
            <img src="{% static 'img/SMPN 103.png' %}" class="rounded mx-auto d-block" alt="SMP Negeri 103 Jakarta" width="150" height="150">
            <br>
            <p><b>SMA Negeri 98 Jakarta</b></p>
            <img src="{% static 'img/SMAN 98.jpg' %}" class="rounded mx-auto d-block" alt="SMA Negeri 98 Jakarta" width="150" height="150">
        </div>
        <br>
        <h2>And here's what I'm good at (currently)</h2>
        <div class="skills">
            <p><b>Python</b></p>
            <img src="{% static 'img/Python image.png' %}" class="rounded mx-auto d-block" alt="Python" width="150" height="150">
            <br>
            <p><b>Java</b></p>
            <img src="{% static 'img/Java image.png' %}" class="rounded mx-auto d-block" alt="Java" width="150" height="150">
            <br>
            <p><b>HTML</b></p>
            <img src="{% static 'img/HTML image.png' %}" class="rounded mx-auto d-block" alt="HTML" width="150" height="150">
        </div>
    {% endblock content %}
</html>